body{

}
.part-1{
    margin:40px auto;
    width:1320px;
    height:600px;
  

      display: flex;
      justify-content: center;
      align-items: center;
     
    background-image: url('../images/Banner\ Image.png');

}
.content{
   text-align: center;   
    padding:177px 344px;
   color:white;
}
.content h3{
  
    font-size:32px;
}
.content h1{
     font-size:72px; 
    
}